*{
	margin:0;
	padding:0;
}
.img-box{
	position:absolute;
	width:940px;
	height:430px;
	background:rgba(204,204,204,0.2) ;
	left:0;
	right:0;
	top:0;
	bottom:0;
	margin:auto;
}
.img-box img{
	height:200px;
	width:300px;
	float:left;
	margin-left:10px;
	margin-top:10px;
}
.mask{
	position:fixed;
	background:rgba(0,0,0,0.9);
	left:0;
	top:0;
	right:0;
	bottom:0;
	margin:auto;
	display:none;
}
.tanchu{
	position:absolute;
	width:500px;
	height:400px;
	/*background:#fff;*/
	left:0;
	right:0;
	top:0;
	bottom:0;
	margin:auto;
}
.tanchu img{
	position:absolute;
	max-height:80%;
	max-width:100%;
	left:0;
	right:0;
	top:0;
	bottom:0;
	margin:auto;
}
.close{
	font-family:苹方;
	width:50px;
	height:50px;
	border-radius:50%;
	/*background:#;*/
	line-height:25px;
	text-align:center;
	cursor:pointer;
	position:absolute;
	right:10px;
	top:10px;
	color:#fff;
	font-size:30px;
}
.tanchu .left{
	position:absolute;
	width:200px;
	height:400px;
	float:left;
	/*background:red;*/
}
.tanchu .right{
	position:absolute;
	width:200px;
	height:400px;
	/*background:yellow;*/
	right:0;
	top:0;
}
.img{
	position:absolute;
	width:500px;
	height:50px;
	/*background:pink;*/
	bottom:10px;
	left:0;
	right:0;
	margin:auto;
}
.img img{
	height:50px;
}
.btn{
	width:800px;
	height:0;
	/*background:pink;*/
	position:absolute;
	left:0;
	right:0;
	top:0;
	bottom:0;
	margin:auto;
}
.btn img{
	width:30px;
}
.btnleft {
	width:50px;
	height:50px;
	float:left;
	cursor:pointer;
	/*background:blue;*/

}
.btnright{
	width:50px;
	height:50px;
	float:right;
	cursor:pointer;
	/*background:blue;*/
}
.active{
	border:3px double #fff;
}